@media screen and (max-width: 1200px) {
    .game-container {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
    }

    .about-wrapper,
    .webs-wrapper {
        padding-top: 96px;
        p {
            font-size: 1rem;
            line-height: 1.5rem;
        }
    }
}

@media screen and (max-width: 760px) {
    :root {
        --nav-banner-size: 70px;
        --nav-banner-font-size: 3.5rem;
        --nav-width: 180px;
    }

    body {
        padding-left: 75px;
    }

    .home-wrapper {
        gap: 8px;
        padding-top: 16px;
    }

    nav {
        .nav-wrapper {
            .coin {
                margin-top: 80px;
                margin-left: 12px;
            }

            ul {
                li {
                    padding-left: 12px;
                }
            }
            .hamburger {
                display: block;
            }
        }
    }
}

@media screen and (max-width: 560px) {
    :root {
        --carousel-width: 210px;
        --carousel-height: 150px;
        --carousel-btn-size: 24px;
        --carousel-dot-size: 7px;
    }

    .game-container {
        padding-block: 24px;
        gap: 24px;

        .cr-container {
            padding-left: 16px;
        }

        .game-info-container {
            width: 100%;
            padding-inline: 16px;

            h3 {
                font-size: 1.5rem;
            }

            span {
                font-size: 1rem;
                line-height: 1.2rem;
                padding-bottom: 8px;
            }

            a {
                width: fit-content;

            }
        }
    }
}
