body {
    background-color: var(--black);
    transition: background-color ease-in 0.1s;
    position: relative;
    overflow-x: hidden;
    padding-left: calc(var(--nav-width) + 130px);
    padding-right: 5px;
    font-family: "Inter";
    font-size: 62.5%;
    transition: padding-left ease-in 0.2s;
    
    &:has(.card.slide-in .contact-wrapper) {
        height: 100vh;
        overflow: hidden;
    }

    .card-container {
        position: relative;
        max-width: 848px;
        margin: auto;
    }
}

nav {
    position: fixed;
    top: 0;
    left: calc(var(--nav-width) * -1);
    bottom: 0;
    width: var(--nav-width);
    border-right: 2px solid var(--gray);
    transition: border-right ease-in 0.1s, left ease-in 0.2s;
    z-index: 100;

    &.nav-open {
        left: 0px;
    }
    
    .nav-wrapper {
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        background-color: var(--black);
        z-index: 10;

        .coin {
            width: 48px;
            height: 48px;
            border: 2px solid var(--white);
            border-radius: 50%;
            margin-left: 32px;
            margin-top: 16px;
            margin-bottom: 16px;
            position: relative;
            transition: all ease-in 0.2s;
            cursor: pointer;

            &:before {
                position: absolute;
                content: "";
                display: block;
                top: 50%;
                left: 50%;
                width: 12px;
                height: 12px;
                transform: translate(-50%, -50%);
                border: 2px solid var(--white);
                transition: all ease-in 0.2s;
            }

            &:after {
                position: absolute;
                content: "";
                display: block;
                top: 50%;
                left: 50%;
                width: 13px;
                height: 13px;
                opacity: 0;
                transform: translate(-50%, -50%) rotate(45deg) scale(0);
                border-left: 2px solid var(--black);
                border-top: 2px solid var(--black);
                transition: all ease-in 0.2s;
            }

            &.active,
            &:hover {
                background-color: var(--white);
                &:after {
                    top: calc(50% - 3px);
                    opacity: 1;
                    transform: translate(-50%, -50%) rotate(45deg) scale(1);
                }

                &:before {
                    background-color: var(--black);
                }
            }
        }

        ul {
            li {
                cursor: pointer;
                color: var(--white);
                font-family: "Inter";
                font-size: 2rem;
                line-height: 64px;
                padding-left: 32px;
                background-image: linear-gradient(90deg, var(--black) var(--len), var(--gray) 100%);
                transition: --len ease-out .15s, color ease-in 0.15s;
                
                &.active,
                &:hover {
                    --len: -50%;
                    color: var(--black);
                }
            }
        }

        .hamburger {
            display: none;
            position: fixed;
            left: 22px;
            top: 22px;
            width: 26px;
            height: 22px;
            border-bottom: 2px solid var(--white);
            border-top: 2px solid var(--white);
            transition: all ease-in 0.2s;
            cursor: pointer;

            &:before,
            &:after {
                position: absolute;
                content: "";
                display: block;
                background-color: var(--white);
                top: 50%;
                left: 50%;
                transform-origin: center;
                transform: translate(-50%, -50%) rotate(0deg);
                height: 2px;
                width: 100%;
                transition: transform ease-in 0.2s, width ease-in 0.2s;
            }

            &.nav-open {
                border-color: transparent;
                &:before {
                    transform: translate(-50%, -50%) rotate(45deg);
                    width: 141%;
                }
                &:after {
                    transform: translate(-50%, -50%) rotate(-45deg);
                    width: 141%;
                }
            }
        }

        .theme {
            position: absolute;
            bottom: 32px;
            height: 24px;
            width: 24px;
            margin-left: 32px;
            margin-top: 16px;
            background-image: url(./images/lightmode.svg);
            background-size: contain;

            &.dark {
                background-image: url(./images/darkmode.svg);
            }
        }
    }

    .nav-banner {
        position: absolute;
        top: 0;
        left: var(--nav-width);
        display: flex;
        flex-direction: column;
        z-index: -5;

        span {
            -webkit-user-select: none; /* Safari */
            -ms-user-select: none; /* IE 10 and IE 11 */
            user-select: none; /* Standard syntax */

            position: absolute;
            width: var(--nav-banner-size);
            height: var(--nav-banner-size);
            transform: translateX(-120px);
            font-family: "Inter";
            font-weight: 800;
            font-size: var(--nav-banner-font-size);
            text-transform: uppercase;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: var(--gray);
            color: var(--black);
            transition: transform ease-out 0.1s, background-color ease-in 0.2s, color ease-in 0.2s;
            z-index: 0;

            &.active {
                transform: translateX(0px);
            }
        }
    }
}

.card {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    transform: translateX(-128px);
    filter: blur(5px);
    opacity: 0;
    z-index: 0;
    transition: transform ease-in-out 0.1s, filter ease-in-out 0.1s, opacity ease-in-out 0.1s;

    &.slide-in {
        position: relative;
        transform: translateX(0px);
        filter: blur(0px);
        opacity: 1;
        z-index: 5;
    }

    &.slide-out {
        transform: translateX(128px);
        filter: blur(5px);
        opacity: 0;
        z-index: 0;
    }
}

:root.light .home-wrapper .info {
    display: none;
    &.light {
        display: block;
    }
}

.home-wrapper {
    display: flex;
    flex-direction: column;
    gap: 16px;
    max-width: var(--home-width);
    width: 100%;
    max-height: calc(100vh - 32px);
    margin: auto;
    padding-top: 32px;

    .info {
        width: 100%;
        height: 100%;
        
        &.light {
            display: none;
        }
    }

    .photo-wrapper {
        max-width: var(--home-width);
        max-height: var(--home-height);
        height: 100%;
        width: 100%;
        margin-inline: auto;


        img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
            text-align: center;
        }
    }

    input[type="range"] {
        max-width: var(--home-width);
        width: 100%;
        appearance: none;
        display: block;
        padding-top: 8px;
        background: transparent;

        &::-webkit-slider-runnable-track,
        &::-moz-range-track {
            appearance: none;
            height: 2px;
            background-color: var(--white);
        }
    
        &::-webkit-slider-thumb,
        &::-moz-range-thumb {
            appearance: none;
            background: var(--white);
            border-radius: 1px;
            border: 6px solid var(--black);
            transition: border ease-in 0.1s;
            width: 12px;
            height: 24px;
        }
    }
}

.game-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 48px;
    padding-block: 48px;

    .cr-container {
        display: flex;
        flex-direction: column;
        width: var(--carousel-width);
        height: var(--carousel-height);
    
        .cr-slide-wrap {
            overflow: hidden;
            height: var(--carousel-height);
            position: relative;
            border: 3px solid var(--gray);
        
            .cr-slide-wrap-inner {
                position: absolute;
                left: 0;
                top: 0;
                bottom: 0;
                display: flex;
                transition: left ease-in 0.2s;
                
                .cr-slide {
                    img {
                        object-fit: cover;
                        object-position: center;
                        display: block;
                        width: 100%;
                        height: 100%;
                        transform: scale(1);
                        transition: transform linear 0.2s;

                        &:hover {
                            transform: scale(1.1);
                        }
                    }
                }
            }
        }

        .cr-controls {
            display: flex;
            justify-content: center;
            
            .cr-btn {
                width: var(--carousel-btn-size);
                height: var(--carousel-btn-size);
                border: none;
                cursor: pointer;
                background-color: var(--black);
                transition: background-color ease-in 0.1s;
                display: none;
            }
            
            .next {
                position: relative;
                
                &:before {
                    position: absolute;
                    content: "";
                    display: block;
                    top: 50%;
                    left: 50%;
                    width: var(--carousel-dot-size);
                    height: var(--carousel-dot-size);
                    transform: translate(-100%, -50%) rotate(45deg);
                    border-top: 3px solid var(--gray);
                    border-right: 3px solid var(--gray);
                    transition: border-top ease-in 0.1s, border-right ease-in 0.1s;
                }
            }
            
            .prev {
                position: relative;
                
                &:before {
                    position: absolute;
                    content: "";
                    display: block;
                    top: 50%;
                    left: 50%;
                    width: var(--carousel-dot-size);
                    height: var(--carousel-dot-size);
                    transform: translateY(-50%) rotate(225deg);
                    border-top: 3px solid var(--gray);
                    border-right: 3px solid var(--gray);
                    transition: border-top ease-in 0.1s, border-right ease-in 0.1s;
                }
            }

            .cr-dots {
                display: flex;
                justify-content: center;
            
                .cr-dot {
                    position: relative;
                    cursor: pointer;
                    width: var(--carousel-btn-size);
                    height: var(--carousel-btn-size);
                    background-image: linear-gradient(0deg, transparent var(--glen), var(--gray) 100%);
                    transition: --glen ease-out 0.1s, color ease-in 0.1s;
                    
                    &:before {
                        position: absolute;
                        content: "";
                        display: block;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        width: var(--carousel-dot-size);
                        height: var(--carousel-dot-size);
                        border-radius: 50%;
                        background-color: var(--gray);
                        transition: background-color ease-in 0.2s;
                    }
                    
                    &:hover {
                        --glen: 0%;
                        &:before {
                            background-color: var(--black);
                        }
                    }
                }
            
                .active {
                    --glen: 0%;
                    &:before {
                        background-color: var(--black);
                    }
                }
            }
        }
    }

    .game-info-container {
        display: flex;
        flex-direction: column;
        width: 380px;

        h3 {
            font-family: "Inter";
            font-weight: 800;
            color: var(--white);
            font-size: 2.5rem;
        }

        span {
            font-family: "Inter";
            font-weight: 500;
            color: var(--gray);
            font-size: 1rem;
            line-height: 26px;
            padding-bottom: 16px;
        }

        a {
            width: fit-content;
            font-family: "Inter";
            font-weight: 700;
            text-align: center;
            justify-items: center;
            text-decoration: none;
            color: var(--accent);
            padding: 8px;
            border: 2px solid var(--accent);
            
            &:hover {
                color: var(--black);
                background-color: var(--accent);
            }
        }
    }
}

.samurai {
    margin: 64px;
    height: 32px;
    width: 64px;
    cursor: pointer;
    position: relative;

    &:before {
        position: absolute;
        content: "";
        display: block;
        left: 0;
        top: 0;
        height: 32px;
        width: 64px;
        pointer-events: none;
        background-image: url(./images/samurai3.png);
        background-size: contain;
        background-repeat: no-repeat;
        transition: left ease-out 0.1s;
    }

    &:hover {
        &:before {
            background-image: url(./images/samurai4.png);
            left: 24px;
        }
    }

    a {
        display: block;
        height: 100%;
        width: 100%;
    }
}

.modal-image-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 100;
    cursor: pointer;

    .modal-image {
        border: 4px solid var(--gray);
        position: fixed;
        max-width: 80vw;
        max-height: 80vh;
        top: 50%;
        left: 50%;
        object-fit: contain;
        object-position: center;
        background-color: var(--black);

        animation-name: image-transition;
        animation-duration: 0.25s;
        animation-iteration-count: 1;
        animation-timing-function: cubic-bezier(0.34, 1.56, 0.64, 1);
        animation-fill-mode: forwards;

        &.transition-out {
            animation-name: image-transition-out;
            animation-timing-function: ease-out;
            animation-duration: 0.15s;
        }
    }

    &:before {
        position: absolute;
        content: "";
        display: block;
        z-index: -1;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        opacity: 0.7;
        background-color: #070709;
        animation: overlay-fade-in 0.25s ease-in forwards;
    }

    &.wrapper-transition-out {
        animation: image-wrapper-transition-out 0.15s ease-out forwards;
    }
}

@keyframes image-transition {
    from {
        transform: translate(-50%, -50%) scale(0);
    }

    to {
        transform: translate(-50%, -50%) scale(1);
    }
}

@keyframes image-wrapper-transition {
    from { opacity: 0; }
    to { opacity: 0.7; }
}

@keyframes image-transition-out {
    from {
        transform: translate(-50%, -50%) scale(1);
    }

    to {
        transform: translate(-50%, -50%) scale(0);
    }
}

@keyframes image-wrapper-transition-out {
    from { opacity: 0.7; }
    to { opacity: 0; }
}

.toast {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */

    position: fixed;
    font-family: "Inter";
    font-size: 1rem;
    font-weight: 600;
    width: fit-content;
    padding: 8px;
    background-color: var(--black);
    color: var(--accent);
    border: 2px solid var(--gray);
    animation: pop-in 0.2s ease-out forwards;
    z-index: 15;

    &.toast-out {
        animation: pop-out 0.2s ease-out forwards;
    }
}

@keyframes pop-in {
    from { transform: translateY(0px) scale(0); }
    to { transform: translateY(-48px) scale(1); }
}

@keyframes pop-out {
    from {  transform: translateY(-48px) scale(1); }
    to {  transform: translateY(-64px) scale(0); }
}

.about-wrapper,
.webs-wrapper {
    padding-top: 96px;
    p {
        white-space: pre-wrap;
        max-width: 674px;
        padding-inline: 16px;
        color: var(--white);
        font-size: 2rem;
        line-height: 48px;

        a {
            color: var(--accent);
            padding-inline: 3px;
            text-underline-offset: 4px;
            text-decoration-thickness: 2px;
            
            &:hover {
                background-color: var(--accent);
                color: var(--black);
                text-decoration: none;
            }
        }
    }
}

.contact-wrapper {
    display: flex;
    flex-direction: column;
    width: 80%;

    .sites-wrapper {
        display: flex;
        flex-direction: column;
        gap: 12px;
        padding: 16px;
        height: 256px;
        border-left: 2px solid var(--gray);
        border-right: 2px solid var(--gray);
        background-color: var(--contact-color);
        transition: background-color ease-in 0.1s;

        span {
            -webkit-user-select: none; /* Safari */
            -ms-user-select: none; /* IE 10 and IE 11 */
            user-select: none; /* Standard syntax */

            font-size: 1.5rem;
            color: var(--white);

            &:last-child {
                padding-top: 100px;
            }
        }

        ul {
            display: flex;
            gap: 24px;
            li {
                svg {
                    height: 32px;
                    width: 32px;
                }
            }
        }
    }

    .mail-wrapper {
        position: relative;

        .mail-ticket {
            position: absolute;
            top: 0;
            height: 124px;
            border-left: 2px dashed var(--gray);
            border-right: 2px dashed var(--gray);
            border-bottom: 2px dashed var(--gray);
            cursor: grab;
            transform: rotate(0);
            transform-origin: top left;
            background-color: var(--contact-color);
            transition: transform linear 0.06s, background-color ease-in 0.1s;
            display: flex;
            justify-content: center;
            align-items: flex-end;

            &.tel {
                background-image: url(./images/tel.svg);
                background-size: 42px;
                background-repeat: no-repeat;
                background-position: center;
            }

            &.mail {
                background-image: url(./images/mail.svg);
                background-size: 42px;
                background-repeat: no-repeat;
                background-position: center;
            }

            &.drag {
                cursor: grabbing;
            }

            &.fall {
                transition: transform 0.8s ease-in;
            }

            * {
                pointer-events: none;
            }

            span {
                -webkit-user-select: none; /* Safari */
                -ms-user-select: none; /* IE 10 and IE 11 */
                user-select: none; /* Standard syntax */

                font-size: 1rem;
                color: var(--gray);
                padding-bottom: 8px;
            }
        }
    }
}