:root {
    --black: #070709;
    --white: #FFFF;
    --gray: rgb(82, 87, 93);
    --accent: #2c8ff2;
    --contact-color: rgb(10, 17, 25);

    --home-width: 380px;

    --nav-width: 220px;

    --carousel-width: 420px;
    --carousel-height: 300px;
}

:root.light {
    --white: #070709;
    --black: #eeeeee;

    --contact-color: #b3b9c1;
}

@property --len {
    initial-value: 100%;
    inherits: false;
    syntax: '<percentage>';
}

@property --glen {
    initial-value: 100%;
    inherits: false;
    syntax: '<percentage>';
}