@media screen and (max-width: 856px) {
    :root {
        --font-size-heading: 32px;
        --font-size-text: 14px;
        --section-gap: 96px;
    }

    .content-wrapper {
        display: flex;
        flex-direction: column;

        &.reversed {
            flex-direction: column-reverse;
        }
    }

    .galery-column:last-of-type {
        top: 0;
    }

    .footer-wrapper {
        display: grid;
        grid-template-columns: 1fr;

        .socials,
        .contact {
            justify-content: center;
        }
    }

    .logo {
        img {
            object-fit: cover;
        }
    }
}

@media screen and (max-width: 1152px) {
    .container {
        padding-inline: 56px;
    }
}

@media screen and (max-width: 520px) {
    :root {
        --font-size-heading: 24px;
        --font-size-text: 14px;
        --section-gap: 64px;
    }

    .footer-wrapper,
    .copyright {
        padding-left: 0;
    }

    body {
        display: block;
    }

    header {
        .nav-btn {
            display: block;
        }

        &.nav-open nav + div {
            opacity: 0.7;
            pointer-events: all;
        }

        nav {
            z-index: 3;
            width: var(--sidebar-width);
            background-color: #14161d;
            border-right: 5px dotted #391e4e;
            border-bottom: 5px dotted #391e4e;
            position: fixed;
            left: -100%;
            padding-top: 48px;
            bottom: 0;

            & + div {
                transition: all ease-in 0.3s;
                background-color: #14161d;
                inset: 0;
                opacity: 0;
                position: fixed;
                z-index: -1;
                left: 0px;
                pointer-events: none;
            }
        }
    }
}